<div class="card">
    <div class="card-body">
        <h1 class="card-title">Edit Company</h1>
        <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="editCompanyChange(editForm.value)">
            <input type="hidden" id="id" formControlName="id" class="form-control">
            <div class="form-group row">
                <label for="name" class="col-form-label col-sm-2">Company name:</label>
                <div class="col-md-5">
                    <input type="text" id="name" formControlName="name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-form-label col-sm-2">Description:</label>
                <div class="col-md-5">
                    <input type="text" id="description" formControlName="description" class="form-control" />
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!editForm.valid">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>