@model DTO.ModelViewsObjects.CompanyMainDto

@{
    ViewBag.Title = "Create New Company";
    Layout = "_Layout";
}

<h2>Create New Company</h2>
<form asp-action="SaveCompany">
    <input type="hidden" asp-for="Id" />
    <div class="form-group col-md-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" required="required"/>
    </div>
    <div class="form-group col-md-4">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description" rows="3" required="required"></textarea>
    </div>
    <div class="form-group rate">
        <input class="btn btn-outline-primary" type="submit" value="Create"/>
    </div>
</form>