<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto top-list">
            <li class="nav-item top-btm"><button class="btn-group btn-list" (click)="loadCompanies('top10',null)">TOP 10</button></li>
            <li class="nav-item top-btm"><button class="btn-group btn-list " (click)="loadCompanies('top25',null)">TOP 25</button></li>
            <li class="nav-item top-btm"><button class="btn-group btn-list " (click)="loadCompanies('top50',null)">TOP 50</button></li>
            <li class="nav-item active top-btm"><button class="btn-group btn-list" (click)="loadCompanies('all',null)">All</button></li>
            <li class="nav-item top-btm"><button class="btn-group btn-list" [routerLink]="['/addCompany']">Add Company</button></li>
        </ul>
        <form class="my-2 my-lg-0 search">
            <input  class="form-control me-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search" name="SearchString"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)="loadCompanies(null,search)">Search</button>
        </form>
    </div>
</nav>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Top</th>
            <th>Name</th>
            <th>Description</th>
            <th>Company Valution</th>
        </tr>
        </thead>
        <tbody>
       <tr *ngFor="let c of companies; let idx =index">
           <td>{{idx+1}}</td>
           <td><a [routerLink]="['/company/'+c.id]"> {{c?.name}}</a></td>
           <td>{{c?.description}}</td>
           <td>{{c?.totalAvg}}</td>
           <td><a [routerLink]="['/editCompany/'+c.id]">Edit</a></td>
           <td><a [routerLink]="['/deleteCompany/'+c.id]">Delete</a></td>
       </tr>
        </tbody>
    </table>
</div>